.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon{
    font-size: 40px;
    color: #056adf;
}
.links{
    display: flex;
    align-items: center;
    width:400px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
a{
    text-decoration: none;
    color: #056adf;
    
    

}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}


button{
    margin-top: 20px;
    background-color: #056adf;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    
}
.two-photos{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.two-photos img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}



